# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db